:root {
    --rot: #FE4E4D;
    --gruen: #05EB8B;
    --blau: #0BBCDA;
    --weiss: #E3E0DB;
    --dunkelgrau: #2F384B;
    --hellgrau: #3D4457;
} // ohne variablen

body {
    background-color: var(--dunkelgrau);
    color: var(--weiss);
    font-family: 'Lexend Deca', sans-serif;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: var(--rot);
    width: 100%;
    text-align: center;
    font-size: 100px;
}

/* BUTTON */

.button {
    color: var(--weiss);
    font-size: 23px;
    text-transform: uppercase;
    background-color: transparent;
    border: var(--weiss) 4px solid;
    border-radius: 50px;
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button:hover {
    background-color: var(--weiss);
    color: var(--dunkelgrau);
    cursor: pointer;
}

.button--gruen {
    color: var(--gruen);
    border-color: var(--gruen);
}

.button--gruen:hover {
    background-color: var(--gruen);
    color: var(--dunkelgrau);
}

.button--blau {
    color: var(--blau);
    border-color: var(--blau);
}

.button--blau:hover {
    background-color: var(--blau);
    color: var(--dunkelgrau);
}



/* LISTE */

.liste {
    background-color: var(--hellgrau);
    width: 100%;
    margin-top: 50px;
}

.liste__eintrag {
    border-bottom: var(--dunkelgrau) 4px solid;
    padding: 20px;
}

/* .liste__eintrag:hover {
    background-color: rgb(83, 92, 117);
} */

.liste__titel {
    font-size: 25px;
    margin-bottom: 10px;
}

.liste__untertitel {
    font-size: 17px;
}

.liste__untertitel--gruen {
    color: var(--gruen);
}
.liste__untertitel--rot {
    color: var(--rot);
}

.liste__laden {
    margin: 0 auto;
}

/* FORMULAR */

.formular {
    width: 100%;
    margin-top: 50px;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text] {
    font-size: 28px;
    background-color: var(--hellgrau);
    border: none;
    color: var(--weiss);
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 5px;
    width: 100%;
}

/* TIMER */

.info {
    width: 100%;
    text-align: center;
}

.info__titel {
    font-size: 25px;
    color: var(--gruen);
    margin: 6px;
}

.info__untertitel {
    font-size: 18px;
    color: var(--weiss);
}

.timer {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.timer__zeit {
    font-size: 25px;
}

.timer__fortschritt {
    width: 100%;
    margin-top: 30px;
    height: 60px;
    background-color: var(--hellgrau);
}

.timer__fortschritt--aktiv {
    width: 0%;
    height: 100%;
    background-color: var(--rot);
}

.timer__skala {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}